<!DOCTYPE html> 
<link rel="stylesheet" href="stylesheet.css">
<span style = "zoom: 120%"></span>

<html>
    <head>
        <meta charset="utf-8">
        <title> Fuel Quote Form </title> 
        <!-- <script src="fuelQuote.js" defer></script> -->
    </head>

<body>
    <h1>Fuel Quote Form<span style = "color:rgb(175, 146, 255); font-size: 24pt;">.</span></h1>
    <instructionalUnderscore>Fill the data fields to revieve a quote.</instructionalUnderscore>


</body>

<form action = '/fuelQuoteForm1' method = "post">
<body>
    <p>
      <fqfLabels for="gallonsR">Gallons Requested&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</fqfLabels>
      <input type="number" id="gallonsInputBoxes" name="gallonsR" placeholder="*Input gallons requested">
    </p>
    <p>
     <!--<fqfLabels for="address">Delivery Address</fqfLabels>-->
     <table>
      <tr>
        <th id = "rowBox">Address</th>
        <th id = "rowBox">City</th>
        <th id = "rowBox">State</th>
        <th id = "rowBox">Zipcode</th>
      </tr>
      <tr>
        <td width = "800" height = "45"><span id = "address1InputBoxesFQ"><%=address%></span></td>
        <td><span id = "cityInputBoxesFQ"><%=city%></span></td>
        <td><span id = "stateInputBoxesFQ"><%=state%></span></td>
        <td><span id = "zipcodeInputBoxesFQ"><%=zipcode%> </td>
      </tr>
    </table>

   </p>

    <p>
      <fqfLabels for="deliveryDate">Delivery Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</fqfLabels>
      <input type="date" id="delDateInputBoxes" name="deliveryDate">
    </p>
    <p>
        <fqfLabels for="pricePerGallon">Suggested Price/Gallon</fqfLabels>
        <input type="number" value = 2.80 id ="sugPriceInputBoxes" readonly/>
    </p>
    <p>
        <fqfLabels for="total">Total Amount due&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</fqfLabels>
        <input type="number" readonly id="total" name ="calcBox">
        <input type="button" name="clickbtn" id="calculatetotalamountButton" value="Get Quote" onclick="multipy_number()">
        <script>
          function multipy_number()
          {
            const first_number = document.getElementById("gallonsInputBoxes").value;
            const second_number = document.getElementById("sugPriceInputBoxes").value;
            document.getElementById("total").value = (first_number*second_number).toFixed(2); 
          }
        </script>

        <div id ="totalAmount"></div>
    </p>
    <p>
        <input type="submit" id = "submit" value="Submit" href = '/finalSubmissionForm'>
    </p>
    <br>
    <div id="formErrors"></div>
  </body>
</form>

  <body>
    <labelPretext for="Return"><b>Return to</b></labelPretext>
    <a id = "normalLink" href="/menu">menu</a><br>

    <labelPretext><span style = "color:rgb(175, 146, 255); font-size: 18pt;">*</span>required field</labelPretext>

</body>

 </html>