<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="stylesheet.css">

<body>
    <header>
        <h1>Menu<span style = "color:rgb(175, 146, 255); font-size: 24pt;">.</span></h1>
    </header>
    <br>
    <p>
        <label for="clientProfileManager"></label>
        <a id = "coloredGreybox" href="/clientProfileName">Client Profile Manager</a><br>
    </p>
    <br>
    <p>
        <label for="fuelQuoteForm"></label>
        <a id = "coloredGreybox" class="nav-link" href="/fuelQuoteForm">Fuel Quote Form</a><br>
    </p>
   
    <br>
    <p>
        <label for="fuelQuoteHistory"></label>
        <a id = "coloredGreybox" href="/fuelQuoteHistory">Fuel Quote History</a><br>
    </p>

    <p>
        <br>
        <labelPretext for="Login"><b>Back to</b></labelPretext>
         <a id = "normalLink" href="/login" >login</a>
      </p>
</body>

</html>